<section id="about" class="about">
    <div class="about-row">
        <div class="col-sm-2">
            <img class="about-img" src="assets/images/sections-background/microscopy_background.jpg">
        </div>
        <div class="col-sm-2">
            <div class="about-text">
                <p>
                    <b>INASCON</b> (<b>I</b>nternational <b>NA</b>noscience <b>S</b>tudent <b>CON</b>ference) is an
                    annual conference organized by students for students in different parts of the world. 
                    From the 15th to 18th of August 2023, we will be proud to host INASCON in Basel, Switzerland. 
                    The conference draws Bachelor's and Master's students, PhD candidates and faculty from universities across the globe, 
                    with more than 100 delegates expected to participate this year.
                    This year’s motto „Make Nano Visible“ aims to include the chemical, physical, biological and medical facettes 
                    of nanoscience to not only show how processes on the nanoscale can be made interpretable but also to demonstrate 
                    their large-scale effects across disciplines.
                    Presentations will be given by students, and inspirational keynote speakers and companies will have the opportunity 
                    to present their latest, cutting-edge technology. Guest speakers include accredited researchers and PhD candidates 
                    from an international range of universities. 
                    Aside from lectures, the conference will offer other social activities such as a poster session and excursions 
                    to create the chance to directly mingle with peer students, researchers and companies operating within the field.
                </p>
            </div>
        </div>
        <div class="col-sm-2">

            <h2> INASCON connects – since 17 years </h2>
            
            <li> 17th - INASCON 2023 - Basel </li>
            <li> 16th - INASCON 2022 - Germany </li>
            <li> 15th - INASCON 2021 - Israel </li>
            <li> 14th - INASCON 2020 - Sweden </li>
            <li> 13th - INASCON 2019 - China </li>
            <li> 12th - INASCON 2018 - Norway </li>
            <li> 11th - INASCON 2017 - United Kingdom </li>
            <li> 10th - INASCON 2016 - Netherlands </li>
            <li> 9th - INASCON 2015 - Switzerland </li>
            <li> 8th - INASCON 2014 - Denmark </li>
            <li> 7th - INASCON 2013 - United Kingdom </li>
            <li> 6th - INASCON 2012 - Germany </li>
            <li> 5th - INASOCN 2011 - Denmark </li>
            <li> 4th - INASCON 2010 - Netherlands </li>
            <li> 3rd - INASCON 2009 - Switzerland </li>
            <li> 2nd - INASCON 2008 - Denmark </li>
            <li> 1st - INASCON 2007 - Denmark </li>
        </div>
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/INASCON_new_map.png">
        </div>
    </div>
</section>
