<section id="about" class="about">
    <div class="about-row">
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/nano_cubes.png">
        </div>
        <div class="col-sm-2">
            <div class="about-text">
                <p>
                    <b>INASCON</b> (<b>I</b>nternational <b>NA</b>noscience <b>S</b>tudent <b>CON</b>ference) is an
                    annual conference
                    organized by students for students and will take place in Munich, Germany. This years' motto “Nano
                    Input – Macro
                    Impact: Energy Materials for a Sustainable Future” of INASCON2022 combines chemical, physical,
                    biological and
                    technological research on nanoscale materials to create innovative ideas and solutions for a greener
                    future.
                    INASCON unites young nano-scientists in their Master studies and PhDs from around the world,
                    allowing them to
                    exchange ideas and form connections in interdisciplinary nanoscience topics at an early stage of
                    their career.
                    The schedule of the four-days conference includes talks of prominent researchers as well as students
                    in the
                    categories Intelligent Storage Materials, Photo- & Electrocatalysis, Photovoltaics & Optoelectronics
                    and
                    Nano-Biophysics, as well as poster sessions, social events, an opportunity fair and interactive
                    workshops.
                </p>
            </div>
        </div>
        <div class="col-sm-2">

            <h2> INASCON connects - since 16 years </h2>

            <li> 16th - INASCON 2022 - Germany </li>
            <li> 15th - INASCON 2021 - Israel </li>
            <li> 14th - INASCON 2020 - Sweden </li>
            <li> 13th - INASCON 2019 - China </li>
            <li> 12th - INASCON 2018 - Norway </li>
            <li> 11th - INASCON 2017 - United Kingdom </li>
            <li> 10th - INASCON 2016 - Netherlands </li>
            <li> 9th - INASCON 2015 - Switzerland </li>
            <li> 8th - INASCON 2014 - Denmark </li>
            <li> 7th - INASCON 2013 - United Kingdom </li>
            <li> 6th - INASCON 2012 - Germany </li>
            <li> 5th - INASOCN 2011 - Denmark </li>
            <li> 4th - INASCON 2010 - Netherlands </li>
            <li> 3rd - INASCON 2009 - Switzerland </li>
            <li> 2nd - INASCON 2008 - Denmark </li>
            <li> 1st - INASCON 2007 - Denmark </li>
        </div>
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/MAP_INASCON.jpg">
        </div>
    </div>
</section>