<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </section>
           <!--<section>
                <div class="contact-method">
                    <span class="icon alt fa-phone"></span>
                    <h3>Social Media</h3>
                    <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
                </div>
            </section>--> 
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-home"></span>
                    <h3>Address</h3>
                    <span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
                </div>
            </section>
        </section>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <!-- <div class="sponsors">
                <h4>Our Sponsors</h4> 
                <a href="https://www.e-conversion.de/" target="_blank">
                    <img src = "{{ site.baseurl }}assets/images/econversion.png" class="img_sponsor" >
                </a>
                <a href="http://www.cens.de/" target="_blank">
                    <img src = "{{ site.baseurl }}assets/images/cens.png" class="img_sponsor">
                </a>
                
                <a href="https://www.graduatecenter.uni-muenchen.de/index.html" target="_blank">
                    <img src = "{{ site.baseurl }}assets/images/LMU_graduate.jpg" class="img_sponsor">
                </a>
                <a href="https://www.organicgarden.de/" target="_blank">
                    <img src = "{{ site.baseurl }}assets/images/Organic-Garden.jpg" class="img_sponsor">
                </a>
                <a href="https://www.ch.tum.de/graduiertenzentrum/" target="_blank">
                    <img src = "{{ site.baseurl }}assets/images/logo_fgz.jpg" class="img_sponsor">
                </a> 
                
                <a href="https://www.gs.tum.de/gs/promovieren-an-der-tum/">
                    <img src = "{{ site.baseurl }}assets/images/TUMgraduate.png">
                </a>

            </div>. --->
        <ul class="icons">
            {% for key_value in site.socials %} {% if key_value[1] %}
            <li>
                <a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
                    <span class="label">{{ key_value[0] }}</span>
                </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
        <ul class="copyright">
            <li>&copy; {{ site.title }} {{ site.subtitle }}</li>
            <li><a href="impressum.html">Impressum</a> </li>
            <li><a href="datenschutz.html">Datenschutzerklärung</a> </li>
            <!-- <li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li> -->
            <!-- <li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li> -->

        </ul>
    </div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.baseurl }}assets/js/jquery.min.js " ></script>
<script src="{{ site.baseurl }}assets/js/jquery.scrolly.min.js "></script>
<script src="{{ site.baseurl }}assets/js/jquery.scrollex.min.js "></script>
<script src="{{ site.baseurl }}assets/js/skel.min.js "></script>
<script src="{{ site.baseurl }}assets/js/util.js "></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ site.baseurl }}assets/js/main.js "></script>
