<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | relativ_url }}/" class="logo">
		<!-- <strong>{{ site.title }}</strong> -->
		<img src = "{{ site.baseurl }}assets/images/INASCON_Logo_new.png"> 
		<span>{{ site.subtitle }}</a>
	
		
	<span class="v_line"></span>
	
	{% if window.innerWidth >= 800 %}{{ 

	<a class="logo_sponsors">
		<img src = "{{ site.baseurl }}assets/images/SNI_logo.jpg" href="https://nanoscience.ch/de/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/sensirion.png" href="https://sensirion.com/de/" target="_blank">
    
                <img src = "{{ site.baseurl }}assets/images/Logo_NCCR_SPIN_Centered-1.png" href="https://www.nccr-spin.ch/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/PSI-Logo_narrow_30k.png" href="https://www.psi.ch/en" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/empa.png" href="https://www.empa.ch/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/fhnw_e_10mm.jpg" href="https://www.fhnw.ch/en/startseite">

                <img src = "{{ site.baseurl }}assets/images/Nikon_Logo.png" href="https://www.nikon.ch/de_CH/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/standortfoerderung-baselland-logo-gross.png" href="https://www.economy-bl.ch/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/SGVC_Color-1.png" class="img_sponsor" href="http://www.sgvc.ch" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/Nanosurf_Logo_Black.png" class="img_sponsor" href="https://www.nanosurf.com/en/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/PVLogo-4c.jpg" href="https://www.pfeiffer-vacuum.com/de/" target="_blank">

                <img src = "{{ site.baseurl }}assets/images/SPECS_logo_blue_blue.jpg" href="https://www.specs-group.com/specs/products/" target="_blank">
        </a>
		
	}} | {% endif %}{{ }}
	<nav>
		 <a href="#menu">Menu</a>
	</nav>
		
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="{{ "" | relativ_url }}/">Home</a> </li>
       		<li><a href="about.html">About INASCON</a> </li>
		<!-- <li><a href="speaker.html">Speakers</a> </li> -->
		<li><a href="team.html">Team</a> </li>
		<li><a href="location.html">Location</a> </li>
		<li><a href="schedule.html">Schedule</a> </li>
		<li><a href="registration.html">Registration</a>
		<li><a href="sponsors.html">Sponsors</a> </li> -->
	</ul>
</nav>
