<section id="location" class="location">
    <div class="about-text">
        <p>Inascon2023 will take place in beautiful Basel, Switzerland. <br></p>
    </div>
    <div class="about-row">
        <!-- <div class="col-sm-2">
            <img class="about-img" src="/assets/images/basel.jpg"> 
        </div>
        <div class="col-sm-2">
            <div class="about-text">
                <p>
                    
                </p>
            </div>
        </div> -->
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/kollegienhaus.jpg">
        </div>
        <div class="col-sm-2">
            <div class="about-text">   
                <p>
                    The conference venue itself is part of the University of Basel. <br> <br> 
                    The adress of the location is <a href="https://goo.gl/maps/d5neV3BHfnWCG6F6A"  style="color:#b85c5c;">Kollegienhaus at Petersplatz 1 in Basel</a>. <br> <br>
                    We will take time to explore Basel during our social activities.<br> 
                      </p>
            </div>
        </div>
    </div>
</section>
