<!-- Begin Schedule Section -->
<section id="location" class="location">
    <div class="about-text">
        <p>Inascon2022 will take place in beautiful Munich, Germany. <br></p>
    </div>
    <div class="about-row">
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/munich_1.jpg">
        </div>
        <div class="col-sm-2">
            <div class="about-text">
                <p>
                    <!--INASCON2022 will take place in beautiful <b>Munich</b>, Germany. Munich is the capital of the
                    southern German state of Bavaria. This city is located near the Alps, which can be seen from the
                    city in good, cloudless weather.
                    Munich is characterized by historical buildings, numerous museums and cultural institutions and
                    large parks, such as the English Garden. On the edge of this park is also our venue in the buildings
                    of the Ludwig-Maximilians-University (LMU) Munich.<br>-->
                    The Bavarian capital is home to not only two renowned universities, the <em>Ludwig-Maximilian Universität (LMU)</em> and the <em>Technische Universität München (TUM)</em>, but also hosts several important research centres. Further, prominent DAX-listed companies leading in the field of sustainable energy generation, storage and conversion, such as Infineon, BMW and Linde have their headquarters in and around Munich.  Together with the established network <em>Center of NanoScience</em> (CeNS, LMU) and the founding of the cluster of excellence <em>e-conversion</em> - a collaborative research project on sustainable energy technologies of LMU, TUM and Max Planck Institutes - in a recent past, the above mentioned compilation makes this city a hotspot for pioneering work in the field of renewable energy based on nanomaterials and an ideal location for holding the INASCON 2022. <br> <br>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <img class="about-img" src="/assets/images/location_simone.jpg">
        </div>
        <div class="col-sm-2">
            <div class="about-text">   
                <p>
                    The conference venue itself is part of the Ludwigs-Maximilian-University (LMU) and adjoins the “green heart” of Munich, the “Englischer Garten”.  It is one of the biggest municipal parks worldwide (even bigger than Central Park) appreciated by locals as well as tourists.  Neighbouring our venue you will find one of its most popular attractions, the beer garden at the Chinese tower. Here you can enjoy Munichs beer drinking and pretzel eating culture. We are looking forward to give you a taste of Bavarian culture during our common dinner taking place in the Augustiner Keller, an original Bavarian restaurant and pub.<br> <br>
                    The adress of the location is <a href="https://goo.gl/maps/UwnmYxFojvEmU8Uv9"  style="color:#b85c5c;">Oettingenstraße 67 in Munich</a>. To reach the venue you can take the Tram 16 and leave at Tivolistrasse or Bus 54, 68 and 154 to Hirschauerstrasse. <br> <br>
                    The beauty of the city is also characterised by its wonderful view of the Bavarian alps (which can be reached from the city centre within an hour train/car drive), its historical buildings, numerous museums and cultural institutions. We will take time to explore Munich culture during our social activities.<br> 
                      </p>
            </div>
        </div>
    </div>
</section>
<!-- End Schedule Section -->