<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="schedule-text">
    <h3>This years’ INASCON will feature inspiring plenary talks as well as thematically focused sessions.
    
    In the sessions you will hear talks from leaders of the field and other young Nanoscience researchers from all over Europe. 
    
    The poster sessions will allow every participant to present their work and connect. 
    
    Apart from the scientific program, there will be social activities, labtours and an opportunity fair, where you can meet companies from Switzerland. 
    
    You can find a preliminary schedule below. </h3>
        
    <p>
    <img src="/assets/images/schedule.jpg">
    
    Sessions: talks by keynote speakers and participants

    Poster Sessions: the participants mingle and present their work

    Enterprise Fair: we welcome benefactors, organizations and companies to provide some insight into their ventures, offer their perspective and share their vision

    Lab Tours: visits to the biology and physics facilities of the University of Basel </br>
    Meet Basel: social and recreational activities

    </p>
        
</div>

    
</section>
<!-- End Schedule Section -->
