<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="schedule-text">
<h3>This years’ INASCON will feature inspiring plenary talks as well as thematically focused sessions.


    The main topics will be Intelligent Storage Materials, Photo- & Electrocatalysis, Photovoltaics & Optoelectronics, and Nano-Biophysics. 
    
    In the sessions you will hear talks from leaders of the field and other young Nanoscience researchers from all over Europe. 
    
    The poster sessions will allow every participant to present their work and connect. 
    
    Apart from the scientific program, there will be social activities, workshops, a thought provoking plenary discussion and an opportunity fair, where you can meet companies from the greater Munich area. 
    
    You can find a preliminary schedule below. Don’t forget to submit your abstract for an oral or poster contribution (<a href="https://www.eventool.com/web/inascon2022/inaSCON/en/register">click here</a>).</h3> 
   <h4> On the second afternoon of our conference, various activities are planned to connect and exchange ideas in a casual atmosphere. We offer you </h4>
<li>A visit of one of the largest lasers of Europe at the <a href="https://www.cala-laser.de/" style="color:#b85c5c">Centre for Advanced Laser Applications (CALA)</a>.  </li>
<li>A visit of the <a href="https://www.frm2.tum.de/frm2/startseite/" style="color:#b85c5c">research neutron source Heinz Maier-Leibnitz (FRM II)</a>.  </li>
<li>A guided tour through the <a href="https://www.deutsches-museum.de/" style="color:#b85c5c">Deutsches Museum</a>, focussing on energy technologies.</li>
<li>A workshop about <a href="https://www.seyens.com/" style="color:#b85c5c">“Visual Communication of Science”</a>. </li>
<li>A workshop about “Rhetoric Extreme”. (only in german) </li>
</div>

    <div class="scheduleContainer">
    <!--TIMES-->
        <div class="time"> Time </div>
        <div class="day1">30.08.22 </div>
        <div class="day2">31.08.22 </div>
        <div class="day3">01.09.22</div>
        <div class="day4"> 02.09.22</div>
    <div class="start-945">9:45</div>
    <div class="start-1000">10:00</div>
    <div class="start-1015">10:15</div>
    <div class="start-1030">10:30</div>
    <div class="start-1045">10:45</div>
    <div class=" start-1100">11:00</div>
    <div class=" start-1115">11:15</div>
    <div class=" start-1130">11:30</div>
    <div class=" start-1145">11:45</div>
    <div class=" start-1200">12:00</div>
    <div class=" start-1215">12:15</div>
    <div class=" start-1230">12:30</div>
    <div class=" start-1245">12:45</div>
    <div class=" start-1300">13:00</div>
    <div class=" start-1315">13:15</div>
    <div class=" start-1330">13:30</div>
    <div class=" start-1345">13:45</div>
    <div class=" start-1400">14:00</div>
    <div class=" start-1415">14:15</div>
    <div class=" start-1430">14:30</div>
    <div class=" start-1445">14:45</div>
    <div class=" start-1500">15:00</div>
    <div class=" start-1515">15:15</div>
    <div class=" start-1530">15:30</div>
    <div class=" start-1545">15:45</div>
    <div class=" start-1600">16:00</div>
    <div class=" start-1615">16:15</div>
    <div class=" start-1630">16:30</div>
    <div class=" start-1645">16:45</div>
    <div class=" start-1700">17:00</div>
    <div class=" start-1715">17:15</div>
    <div class=" start-1730">17:30</div>
    <div class=" start-1745">17:45</div>
    <div class=" start-1800">18:00</div>
    <div class=" start-1815">18:15</div>
    <div class=" start-1830">18:30</div>
    <div class=" start-1845">18:45</div>
    <div class=" start-1900">19:00</div>
    <div class=" start-1915">19:15</div>
    <div class=" start-1930">19:30</div>
    <div class=" start-1945">19:45</div>
    <div class=" start-2000">20:00</div>
    <div class=" start-2015">20:15</div>
    <div class=" start-2030">20:30</div>
    <div class=" start-2045">20:45</div>
    <div class=" start-2100">21:00</div>



 
    
    
    <!-- Day 1-->
 
    <div class="event reg1 registration">Arrival and registration <span></span></div>

    <div class="event welcome">Opening Ceremony <span></span></div>
    <div class="event plenary plenary0"> Plenary Talk (S. Hell) <span></span></div>
    <div class="event IM IM1">Intelligent storage and materials (N. Vargas-Barbosa)<span></span></div>
    <div class="event PV PV1">Photovoltaics (E. Hutter)<span></span></div>
    <div class="event poster_flash poster_flash1">Poster Flash Talks <span></span></div>
    <div class="event poster poster_session1">Poster session with Drinks&Snacks<span></span></div>
    <!-- Day 2-->
    <div class="event plenary plenary1">Plenary Talk (H. Riel)<span></span></div>
    <div class="event coffee coffee1">Coffee<span></span></div>
    <div class="event NB NB1">Nanobiophysics (H. Hofmann)<span></span></div>
    <div class="event PV PV2">Photovoltaics (J. V. Milic)<span></span></div>
    <div class="event lunch lunch1">Lunch break<span></span></div>
    <div class="event plenary plenary2">Plenary Talk (J. Zupanc)<span></span></div>
    <div class="event coffee coffee2">Coffee <span></span></div>
    <div class="event workshop workshop1">Workshops<span></span></div>

    <div class="event group_activity group_act">Group activities/ free time, explore the city and gathering at Biergarten "Chinesischer Turm"<span></span></div>
<!-- Day 3-->
    <div class="event plenary plenary3">Catalysis (G. Pacchioni)<span></span></div>
    <div class="event company company1">Pfeiffer Vaccum<span></span></div>
    <div class="event company company2">Thorlabs<span></span></div>
    <div class="event coffee coffee3">Coffee<span></span></div>
    <div class="event EC EC2">Catalysis (C. Kley)<span></span></div>
    <div class="event IM IM3">Intelligent storage and materials (K. Hatzell)<span></span></div>
    <div class="event lunch lunch2">Lunch break<span></span></div>
    <div class="event PV PV3">Photovoltaics (S. Bodnar)<span></span></div>
    <div class="event NB NB2">Nanobiophysics (S. Schmid)<span></span></div>
    <div class="event company_fair fair">Opportunity Fair with coffee <span></span></div>
    <div class="event plenary_discussion discussion">Panel Discussion <br> <em>Is academia broken?</em> (A. Schreiter; D. Pippig; G. Pacchioni; A. Moscatelli; M. Eder)<span></span></div>
    <div class="event conference_dinner dinner">Conference Dinner<span></span></div>
<!-- Day 4-->
    <div class="event poster_flash poster_flash2">Poster Flash Talks<span></span></div>
    <div class="event poster poster_session2">Poster Brunch<span></span></div>
    <div class="event EC EC3">Catalysis (E. Cortés)<span></span></div>
    <div class="event NB NB3">Nanobiophysics (I. Martynenko)<span></span></div>
    <div class="event coffee coffee4">Coffee<span></span></div>
    <div class="event plenary plenary4">Plenary Talk (K. v. Klitzing)<span></span></div>
    <div class="event goodbye plenary_bye">Goodbye<span></span></div>

    
  </div> 
</section>
<!-- End Schedule Section -->
