.nebeneinanderlinks{
    display: inline-block;
    width:48%;
    margin-right: 2%;
    text-align: justify;
    margin-bottom: auto;
}
.nebeneinanderrechts{
    display: inline-block;
    width:48%;
    text-align: justify;
    margin-bottom: auto;
}
.location{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5pt;
}
.about-img{
    padding: 2%;
    min-width: 200px;
}
.about-text{
    min-width: 200px;
    text-align: justify;
}

.col-sm-2{
    flex: 0 0 50%;
    padding: 1%;
    display: block;
    
  }

  .about-row{
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
  
  
  }